################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlexTimeMonitor/.vs/FlexTimeMonitor
/FlexTimeMonitor/bin/Debug
/FlexTimeMonitor/FlexTimeMonitor/bin/Debug
/FlexTimeMonitor/FlexTimeMonitor/obj/x86/Debug
/FlexTimeMonitor/FlexTimeMonitor/publish
/FlexTimeMonitor/obj
