<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A9N.FlexTimeMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <A9N.FlexTimeMonitor.Properties.Settings>
        <setting name="WorkPeriod" serializeAs="String">
          <value>08:00:00</value>
        </setting>
        <setting name="BreakPeriod" serializeAs="String">
          <value>00:30:00</value>
        </setting>
        <setting name="LogfileName" serializeAs="String">
          <value />
        </setting>
        <setting name="ApplicationName" serializeAs="String">
          <value>FlexTimeMonitor</value>
        </setting>
      </A9N.FlexTimeMonitor.Properties.Settings>
    </userSettings>
</configuration>